@import 'compass';
@import 'mixins';

.notification-wall-wrap {
	
	.cms-edit-form {
		display: block;
	}
	
	.cms-content-fields {
		display:block;
		width: auto;
	}
	
}

.cms-notification-status {
	min-height: 20px;
}